<% include ../layouts/header %>

<h1>Mijn Teams</h1>

<% if (teams.length > 0){ %>
	<section class="list teams">
		<article>
    		<header>Naam</header>
    		<section class="formatie">Formatie</section>
    		<section class="opties">Opties</section>
    		<div class="clear"></div>
	    </article>
	  	<% teams.forEach(function(value, index){ %>
		    <article>
	    		<header><%= value.name %></header>
	    		<section class="formatie"><%= value.formation %></section>
	    		<section class="opties">
	    			<a href="<%= baseUrl %>/teams/edit/<%= value.id %>">Aanpassen</a>
	    			<a href="/teams/<%= value.id %>">Bekijken</a>
	    		</section>
	    		<div class="clear"></div>
		    </article>
   		<% }); %>
   	</section>
<% } else { %>
	<p>Je hebt nog geen team. Maak er eerst 1 aan.</p>
<% } %>


<a class="btn" href="/users/teams/new">Maak een team aan</a>

<% include ../layouts/footer %>