<% include ../layouts/header %>

<h1 class="cap">Profiel van <%= teams[0].user_name %></h1>

<h2>Teams</h2>

<% if (teams.length > 0){ %>
	<section class="list teams">
		<article>
    		<header>Naam</header>
    		<section class="formatie">Formatie</section>
    		<div class="clear"></div>
	    </article>
	  	<% teams.forEach(function(value, index){ %>
		    <article>
		    	<a href="/teams/<%= value.id %>">
		    		<header><%= value.name %></header>
		    		<section class="formatie"><%= value.formation %></section>
	    			<div class="clear"></div>
	    		</a>
		    </article>
   		<% }); %>
   	</section>
<% } else { %>
	<p>Je hebt nog geen team. Maak er eerst 1 aan.</p>
<% } %>

<h2>Recent geplaatse reacties</h2>

<% if (comments[0]) { %>
<section class="list userComment">
	<article>
		<header>Team</header>
		<section>Reactie</section>
		<div class="clear"></div>
    </article>
	<% comments.forEach(function(value, index){ %>
	    <article>
	    	<a href="/teams/<%= value.team_id %>#<%= value.id %>">
	    		<header><%= value.name %></header>
	    		<section><%= value.text %></section>
	    		<div class="clear"></div>
	    	</a>
	    </article>
	<% }); %>
</section>
<% } else { %>
	<p>
		Er zijn nog geen reacties geplaats onder jouw team.
	</p>
	<p>
		Heb je nog geen team? <a href="<%= baseUrl %>/teams/new">Maak er dan één aan</a>.
	</p>
<% } %>

<% include ../layouts/footer %>